@model OrderVM
<partial name="_Notifications" />
<form method="post">
    <input type="hidden" asp-for="OrderHeader.OrderHeaderId" />
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <h4>Order Detail</h4>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.ApplicationUserId" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.ApplicationUserId">ApplicationUserId</label>
                    <span asp-validation-for="OrderHeader.ApplicationUserId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.Name" class="form-control" placeholder="Enter name" />
                    <label asp-for="OrderHeader.Name">Name</label>
                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter phone number" />
                    <label asp-for="OrderHeader.PhoneNumber">PhoneNumber</label>
                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.StreetAddress" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter street address" />
                    <label asp-for="OrderHeader.StreetAddress">StreetAdress</label>
                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.City" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter city" />
                    <label asp-for="OrderHeader.City">City</label>
                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.District" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter district" />
                    <label asp-for="OrderHeader.District">District</label>
                    <span asp-validation-for="OrderHeader.District" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.OrderDate" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.OrderDate">OrderDate</label>
                    <span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.OrderStatus" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.OrderStatus">OrderStatus</label>
                    <span asp-validation-for="OrderHeader.OrderStatus" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.PaymentStatus" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.PaymentStatus">PaymentStatus</label>
                    <span asp-validation-for="OrderHeader.PaymentStatus" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.PaymentMethod" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.PaymentMethod">PaymentMethod</label>
                    <span asp-validation-for="OrderHeader.PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="OrderHeader.TransactionId" class="form-control" autocomplete="username" aria-required="true" disabled />
                    <label asp-for="OrderHeader.TransactionId">TransactionId</label>
                    <span asp-validation-for="OrderHeader.TransactionId" class="text-danger"></span>
                </div>
            </div>
            @* Sumarry *@
            <div class="col-lg-4">
                <h4>Summary</h4>
                <div class="summary">
                    <p class="d-flex justify-content-between font-weight-bold">
                        <span>Total</span>
                        <span>@Model.OrderHeader.OrderTotal$</span>
                    </p>
                    
                    @if (Model.OrderHeader.OrderStatus == SD.OrderStatusPending)
                    {
                        <button class="btn btn-danger btn-block mt-2" asp-action="Cancel" asp-route-orderHeaderId="@Model.OrderHeader.OrderHeaderId">Cancel</button>
                    }
                    @if (Model.OrderHeader.OrderStatus == SD.OrderStatusPending)
                    {
                        <button class="btn btn-dark btn-block mt-2" asp-action="Update">Update</button>
                    }
                </div>

                @foreach (var orderDetails in Model.OrderDetails)
                {
                    <div class="d-flex p-0 py-4 product-details border-bottom">
                        <img src="@orderDetails.SpecificShoe.ImageShoes.First().ImageUrl" class="product-img">
                        <div class="flex-grow-1 mx-3">
                            <div class="justify-content-between align-content-between">
                                <h5 class="mb-1">@orderDetails.SpecificShoe.ColorShoe.Shoe.ShoeName</h5>
                                <span class="discounted-price">@orderDetails.SpecificShoe.Price * orderDetails.Count$</span>
                            </div>
                            <p class="p-0 mb-1">@(orderDetails.SpecificShoe.Gender)'s Shoes</p>
                            <p class="p-0 mb-1">Size: @orderDetails.SpecificShoe.Size</p>
                            <p class="p-0 mb-1">
                                Qty: @orderDetails.Quantity
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

