@using System.Web
@model SpecificShoeDetailsVM
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-1">
            <div class="product-images">
                @foreach (var image in Model.ColorShoe.Images)
                {
                    <img src="@image.ImageUrl" class="small-img" onmouseover="changeMainImage('@HttpUtility.UrlEncode(image.ImageUrl)')">
                }
            </div>
        </div>
        <div class="col-md-5 border-0">
            <img id="mainImage" src="@Model.ColorShoe.Images[0].ImageUrl" class="main-image">
        </div>
        <div class="col-md-5 product-details mx-5">
            <form method="post">
                <input asp-for="ColorShoe.Shoe.ShoeId" hidden/>

                <input asp-for="SpecificShoe.ColorShoeId" value="@Model.ColorShoe.ColorShoeId" hidden />
                <input asp-for="SpecificShoe.Size" hidden />
                <input asp-for="SpecificShoe.SpecificShoeId" hidden>
                <h1>@Model.ColorShoe.Shoe.ShoeName</h1>
                @* Gender *@
                <div class="row">
                    <p class="h4 col-4 m-0">@(Model.SpecificShoeListForSize.First().Gender)'s Shoe</p>
                    <select asp-for="SpecificShoe.Gender" asp-items="@Model.GenderList" class="opt col-5" hidden>
                        <option disabled selected>@(Model.SpecificShoeListForSize.First().Gender)</option>
                    </select>
                </div>

                @* Price *@
                <div class="row mt-2">
                    <p class="price h3 text-body col-4 m-0">@Model.ColorShoe.Shoe.Price$</p>
                    <input asp-for="SpecificShoe.Price" class="opt col-5" placeholder="Enter New Specific Price" hidden>
                </div>

                @* Quantity *@
                <div class="row mt-2">
                    <p class="quantity h3 text-body col-4 m-0"></p>
                    <input asp-for="SpecificShoe.Quantity" class="opt col-5" placeholder="Enter Quantity" hidden>
                </div>

                @* Discount *@
                <div class="row mt-2">
                    <div class="col-4">
                        <span class="discount">0</span><span class="text-danger">% off</span>
                    </div>
                    <select asp-for="SpecificShoe.DiscountId" asp-items="@Model.DiscountList" class="opt col-5" hidden>
                        <option disabled selected>-- Select New Discount --</option>
                    </select>
                </div>
                <button id="saveBtn" class="btn btn-outline-secondary btn-lg mt-4" type="submit" hidden>Save</button>
            </form>

            <div class="mt-3">
                @foreach (var image in Model.ColorShoeIdWithImage)
                {
                    <a asp-controller="SpecificShoe" asp-action="Details" asp-route-colorShoeId="@image.ColorShoeId" asp-route-shoeId="@Model.ColorShoe.Shoe.ShoeId" asp-route-gender="@Model.SpecificShoeListForSize.First().Gender">
                        <img src="@image.ImageUrl" class="small-img @(image.ColorShoeId == Model.ColorShoe.ColorShoeId ? "border border-2" : "border-0")">
                    </a>
                }
            </div>

            <div class="size-options flex mt-3">
                <p class="mb-1">Select Size</p>
                @foreach (var specificShoe in Model.SpecificShoeListForSize)
                {
                    <button id="btn_@specificShoe.SpecificShoeId" class="sizeBtn btn btn-outline-secondary m-0 @(specificShoe.Quantity <= 0 ? "disable" : "")" onclick="changeSize(@specificShoe.SpecificShoeId, @specificShoe.Price, @specificShoe.Discount.DiscountId, @specificShoe.Discount.DiscountValue, @specificShoe.Quantity)">@specificShoe.Size</button>
                }
            </div>
            <button id="addToBagBtn" class="btn btn-dark btn-lg btn-block mt-4">Edit</button>
            <a id="deleteBtn" class="btn btn-danger btn-lg mt-4 mx-2" asp-action="Delete">Delete</a>
            <a class="btn btn-danger btn-lg mt-4" asp-action="DeleteAll" asp-route-colorShoeId="@Model.ColorShoe.ColorShoeId">Delete All</a>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function setBorder(specificShoeId) {
            document.querySelectorAll('.sizeBtn').forEach(button => {
                button.style.borderWidth = '';
            });

            document.getElementById('btn_' + specificShoeId).style.borderWidth = '2px';
        }

        let selectedShoeId = null;
        function changeMainImage(imageUrl) {
            document.getElementById('mainImage').src = decodeURI(imageUrl);
        }

        function changeSize(specificShoeId, price, discountId, discountValue, quantity) {
            selectedShoeId = specificShoeId;
            //Display appropriate information for current size
            document.querySelector('.price').innerText = price + "$";
            document.querySelector('.discount').innerText = discountValue * 100;
            document.querySelector('.quantity').innerText = quantity + " Shoes";
            setBorder(specificShoeId);

            document.getElementById("SpecificShoe_SpecificShoeId").value = specificShoeId;
            document.getElementById("SpecificShoe_Price").value = price;
            document.getElementById("SpecificShoe_DiscountId").value = discountId;
            document.getElementById("SpecificShoe_Quantity").value = quantity;
            document.getElementById("SpecificShoe_Size").value = document.getElementById('btn_' + specificShoeId).innerText;

            var deleteHref = document.getElementById("deleteBtn").href;
            let position = deleteHref.indexOf('?');
            if (position == -1) {
                document.getElementById("deleteBtn").href = deleteHref + `?specificShoeId=${specificShoeId}`;
            } else {
                var idIndex = deleteHref.indexOf("=") + 1;
                var deleteLink = deleteHref.substring(0, idIndex) + specificShoeId;
                document.getElementById("deleteBtn").href = deleteLink;
            }
        }

        $('#addToBagBtn').click(function () {
            if (selectedShoeId != null) {
                document.getElementById("saveBtn").removeAttribute("hidden");
                document.querySelectorAll(".opt").forEach(opt => opt.removeAttribute("hidden"));
            } else {
                alert('Please select a shoe size first.');
            }
        });

        $('#deleteBtn').click(function () {
            if (selectedShoeId == null) {
                alert('Please select a shoe size first.');
                return false;
            }
        });
    </script>
}